* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a {
    text-decoration:none;
}
/* NAVBAR */
.navbar {
    padding:30px 40px;
    display:flex;
    justify-content:space-between;
    font-family: 'Secular One', sans-serif;
}
.navbar .logo a{
    font-size:25px;
    color:#000;
}
.icon {
    display:none;
    width:28px;
    height:28px;
}
.navbar ul,li {
    display:flex;
    padding:5px 10px;
}
.navbar a {
    font-size:8e;
    color:#000;
}
@media only screen and (max-width: 768px) {
    .logo {
        display:none;
    }
    .icon {
        display:block;
    }
    .navbar {
        background-color:#fff;
        position:fixed;
        bottom:0;
        width:100%;
        justify-content:space-around;
        border-top:1px solid black;
        z-index:1;
    }
    .navbar li {
        margin:0 15px;
    }
    .navbar span {
        display:none;
    }
}

/* MAIN */
.main {
    display:flex;
    justify-content:space-between;
    width:100%;
    height:100%;
}
.content1 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:50%;
    margin:80px;
}
.content1 h1 {
    font-family: 'Secular One', sans-serif;
    font-size:45px;
}
.content1 h2 {
    font-family: 'Secular One', sans-serif;
    font-size:68px;
}
h2 span {
    color:red;
}
.content1 p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size:17px;
}
.btn-cv {
    margin-top:50px;
    width:150px;
    height:40px;
    border-radius:20px;
    border:1px solid #333;
    background-color:#333;
    color:#fff;
    cursor:pointer;
}

.content2 {
    width:50%;
    margin-top:40px;
    display:flex;
    justify-content:center;
}

.kotak {

}
.kotak p {
    position:absolute;
    bottom:10em;
    left:0;
    border:1px solid red;
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    font-weight: bold;
    transform: rotate(90deg);
    animation: Bounce 3s ease infinite;
    
}
@keyframes Bounce {
    0%,100% {
        transform:translatey(0) rotate(89deg);

    }
    50% {
        transform:translatey(50px) rotate(89deg);
    }
}
.content2 .profile {
    border-radius:50px;
    width:350px;
    height:450px;
}
.con-profile p {
    text-align:center;
    font-size:16px;
}
.social-media {
    width:30px;
    height:30px;
}
@media only screen and (max-width: 768px) {
    .main {margin:20% auto;}
    .content1 {
        margin:0;
        text-align:right;
        width:40%;
    }
    .content1 h1 {font-size:25px;}
    .content1 h2 {font-size:28px;}
    .content1 p {
        margin-left:5px;
        font-size:14px;
        text-align:left;
    }
    .content1 .p1 {
        display:none;
    }
    .btn-cv {
        margin:20% auto;
        width:95px;
        height:30px;
        border-radius:10px;
        font-size:13px;
    }
    .content2 {
        border:1px solid red;
        width:60%;
    }
    .con-profile {
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .content2 .profile{
        width:165px;
        height:260px;
        border-radius:30px;
    }
    .social-media {
        width:20px;
        height:20px;
    }

    .kotak span {
        width:20px;
        height:20px;
        border:1px solid black;
    }
    .con-profile p{
        text-align:center;
    }
  
}

/* .text1{font-size:40px;}
.text2{font-size:68px;}
.title span {
    --total: calc(var(--duration)
    + var(--delay));
    position:relative;
    display:block;
    color:transparent;
    overflow:hidden;
    animation:revealText 1s
    var(--total) forwards;
    font-family: 'Bebas Neue', cursive;
}

.title span::after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#333;
    transform: scaleX(0);
    transform-origin:left;
    background: #bb93fc;
    animation:
    rollIn var(--duration)
    var(--delay) forwards,
    rollOut var(--duration)
    var(--total) forwards;
}
.title span:nth-child(2)::after {
    border-top: 3px solid #b96ab9;
}

@keyFrames revealText {
    to {
        color:grey;
    }
}
@keyFrames rollIn {
    from {
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyFrames rollOut {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(105%);
    }
} */
